<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.xiaocool.android_etong">
    //访问网络权限
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>

    <!--极光-->
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="21" />
    <permission
        android:name="cn.xiaocool.android_etong.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="cn.xiaocool.android_etong.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />



    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name=".view.etongApplaction"
        android:allowBackup="true"
        android:icon="@drawable/logo_920"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="58OG1xnCFSuuiGtV7KGttlSF5EhaLsgm" />
        <!--设置popupmenu颜色 用下面theme-->
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <!--android:theme="@style/Theme.Incallscreen"-->

        </activity>
        <activity android:name=".UI.SplashActivity"></activity>
        <activity android:name=".UI.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.RegisiterActivity"></activity>
        <activity android:name=".UI.ForgetPasswordActivity"></activity>
        <!--HomePage-->
        <activity android:name=".UI.HomePage.SearchActivity"></activity>
        <activity android:name=".UI.HomePage.SearchResultShopActivity"></activity>
        <activity android:name=".UI.HomePage.SearchResultGoodsActivity"></activity>
        <activity android:name=".UI.HomePage.TypeListActivity"></activity>
        <!--Main-->
        <activity android:name=".UI.Main.NewArrivalActivity"></activity>
        <activity android:name=".UI.Main.EverydayBargainActivity"></activity>
        <activity android:name=".UI.Main.EverydayChoicenessActivity"></activity>
        <activity android:name=".UI.Main.FlashSaleActivity"></activity>
        <activity android:name=".UI.Main.QualityLifeActivity"></activity>
        <activity android:name=".UI.Mine.Business.EditGoodLookPicActivity"></activity>
        <activity android:name=".UI.Mine.Business.UploadGoodStandardActivity"></activity>
        <activity android:name=".UI.Mine.Business.AddGoodStandardActivity"></activity>
        <activity android:name=".UI.Mine.Business.EditStandardItemActivity"></activity>
        <activity android:name=".UI.Mine.Business.AddGoodAttributeActivity"></activity>
        <activity android:name=".UI.Mine.Business.UploadInventoryActivity"></activity>
        <activity android:name=".UI.Main.ZeroActivity"></activity>

        <!--Mine-->
        <activity android:name=".UI.Mine.MineEditActivity"></activity>
        <activity android:name=".UI.Mine.BusinessActivity"></activity>
        <activity android:name=".UI.Mine.EditNameActivity"></activity>
        <activity android:name=".UI.Mine.EditPhoneActivity"></activity>
        <activity android:name=".UI.Mine.AddressActivity"></activity>
        <activity android:name=".UI.Mine.Business.EditGoodIntroActivity"></activity>
        <activity android:name=".UI.Mine.Business.ChangeGoodInforActivity"></activity>
        <activity android:name=".UI.Mine.MyLikeActivity"></activity>
        <activity android:name=".UI.Mine.PendingPaymentActivity"></activity>
        <activity android:name=".UI.Mine.PendingUsedActivity"></activity>
        <activity android:name=".UI.Mine.PendingDeliverActivity"></activity>
        <activity android:name=".UI.Mine.PendingConfirmActivity"></activity>
        <activity android:name=".UI.Mine.PendingCommentActivity"></activity>
        <activity android:name=".UI.Mine.MyEvaluateActivity"></activity>
        <activity android:name=".UI.Mine.Business.OrderDetails.OrderDetailsActivity"></activity>
        <activity android:name=".UI.Mine.Business.OrderDetails.DeliverNowActivity"></activity>
        <activity android:name=".UI.Mine.EditCityActivity"></activity>
        <activity android:name=".UI.Mine.WalletActivity"></activity>
        <activity android:name=".UI.Mine.Business.ConfirmSecurityActivity"></activity>
        <activity android:name=".UI.Mine.MineFootprintActivity"></activity>
        <activity android:name=".UI.Mine.CouponActivity"></activity>
        <activity android:name=".UI.Mine.CouponInstructionsActivity"></activity>
        <activity android:name=".UI.Mine.AgentActivity"></activity>
        <activity android:name=".UI.Mine.Business.ImgTxtDetailActivity"></activity>
        <activity android:name=".UI.Mine.RightsCenterActivity"></activity>

        <!--收货地址相关活动-->
        <activity android:name=".UI.Mine.PersonAddress"></activity>
        <activity android:name=".UI.Mine.AddressChoose"></activity>
        <activity android:name=".UI.Mine.BuyAddress"></activity>

        <!--商家-->
        <activity android:name=".UI.Mine.Business.ApplyShopActivity"></activity>
        <activity android:name=".UI.Mine.Business.ApplyShopFailActivity"></activity>
        <activity android:name=".UI.Mine.Business.AuthenticationShopActivity"></activity>
        <activity android:name=".UI.Mine.Business.AuditShopActivity"></activity>
        <activity android:name=".UI.Mine.Business.CarouselPicActivity"></activity>
        <activity android:name=".UI.Mine.Business.GoodsManageActivity"></activity>
        <activity android:name=".UI.Mine.Business.EditStoreActivity"></activity>
        <activity android:name=".UI.Mine.Business.AfterSalesManagementActivity"></activity>
        <activity android:name=".UI.Mine.Business.OrderManageActivity"></activity>
        <activity android:name=".UI.Mine.Business.CommonProblemActivity"></activity>
        <activity android:name=".UI.Mine.Business.OrderDetails.SellerSearchOrderActivity"></activity>
        <activity android:name=".UI.Mine.Business.OrderDetails.PayNowActivity"></activity>
        <activity android:name=".UI.Mine.Business.BuyWriteCommentActivity"></activity>
        <activity android:name=".UI.Mine.Business.MyCommentActivity"></activity>
        <activity android:name=".UI.Mine.Business.UploadGoodDetailsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            >
        </activity>
        <activity android:name=".UI.Mine.Business.ChangeGoodTypeActivity"></activity>
        <activity android:name=".UI.Mine.Business.ChangeGoodDetailsActivity"></activity>

        <activity
            android:name=".UI.Mine.Business.StoreHomepageActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".UI.Mine.Business.GoodsDetailActivity"></activity>
        <activity android:name=".UI.Mine.Business.BuyNowActivity"></activity>
        <activity
            android:name=".UI.Mine.Business.ComfirmOrderActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".UI.Mine.Business.DeliveryAddressActivity"></activity>
        <activity android:name=".UI.Mine.MyShoppingOrderListActivity"></activity>
        <activity android:name=".UI.HomePage.ShopListActivity"></activity>
        <activity android:name=".UI.Mine.Business.UploadGoodsActivity"></activity>
        <activity android:name=".UI.Mine.Business.OrderDetails.UploadGoodsPropertyActivity"></activity>
        <activity android:name=".UI.Mine.Business.OrderDetails.CancelOrderActivity"></activity>
        <activity android:name=".UI.Mine.Business.SearchMyOrderActivity"></activity>
        <activity android:name=".UI.Mine.Business.OrderDetails.SellerOrderDetailsActivity"></activity>
        <activity android:name=".UI.Mine.Business.ChatActivity"></activity>
        <activity android:name=".UI.Mine.Business.ChatListActivity"></activity>

        <activity android:name=".UI.Mine.Business.OrderDetails.UploadGoodsPropertyLabelActivity"></activity>
        <!--本地-->
        <activity android:name=".UI.Local.FoodActivity"></activity>
        <activity android:name=".UI.Local.MoiveActivity"></activity>
        <activity android:name=".UI.Local.HotelActivity"></activity>
        <activity android:name=".UI.Local.TakeOutFoodAcitvity"></activity>
        <activity android:name=".UI.Local.EntertainmentActivity"></activity>
        <activity android:name=".UI.Local.TravelAroundActivity"></activity>
        <activity android:name=".UI.Local.ServiceActivity"></activity>
        <activity android:name=".UI.Local.KtvActivity"></activity>
        <activity android:name=".UI.Local.RechargeActivity"></activity>
        <activity android:name=".UI.Local.PanicBuyingActivity"></activity>
        <activity android:name=".UI.Local.NewUsersActivity"></activity>
        <activity android:name=".UI.Local.DailySpecialActivity"></activity>
        <activity android:name=".fragment.Local.LocalAddressActivity"></activity>
        <activity android:name=".UI.ShoppingCart.StatementActivity"

            android:windowSoftInputMode="adjustPan|stateVisible" >
        </activity>
        <activity android:name=".tool.zxingCode.activity.ResultActivity"></activity>
        <activity android:name=".tool.zxingCode.activity.CaptureActivity"></activity>
        <activity android:name=".UI.Local.AllClassifyActivity"></activity>
        <!--收货地址service 写入数据 能够快速加载省市区-->
        <service android:name=".service.landDivideServeice"></service>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="cn.xiaocool.android_etong" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="cn.xiaocool.android_etong" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="cn.xiaocool.android_etong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!--&lt;!&ndash; User defined.  For test only  用户自定义的广播接收器&ndash;&gt;-->
        <!--<receiver-->
        <!--android:name=".jpushdemo.MyReceiver"-->
        <!--android:exported="false"-->
        <!--android:enabled="true">-->
        <!--<intent-filter>-->
        <!--<action android:name="cn.jpush.android.intent.REGISTRATION" /> &lt;!&ndash;Required  用户注册SDK的intent&ndash;&gt;-->
        <!--<action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK消息的intent&ndash;&gt;-->
        <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK通知栏信息的intent&ndash;&gt;-->
        <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> &lt;!&ndash;Required  用户打开自定义通知栏的intent&ndash;&gt;-->
        <!--<action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> &lt;!&ndash;Optional 用户接受Rich Push Javascript 回调函数的intent&ndash;&gt;-->
        <!--<action android:name="cn.jpush.android.intent.CONNECTION" />&lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt;-->
        <!--<category android:name="cn.xiaocool.android_etong" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->


        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="07509039e09abf4683bf73a7" />

        <!--qq活动接口调用-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1105613476.data" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
    </application>

</manifest>
